[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
pyqt5 = "*"
psutil = "*"
player = "*"
notification = "*"
plyer = "*"
maya = "*"
cmds = "*"
pymel = "*"
hangulize = "*"
python-qt = "*"
qtwidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
